.gallery {

}

.gallery__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: -5px;
  list-style: none;
}

.gallery__item {
  flex: 0 0 100%;
  display: flex;
  align-items: stretch;
  padding: 5px;
  max-height: 300px;
  margin: 0;
  cursor: pointer;
}

.gallery__item:hover .gallery__img {
  opacity: 1;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  transform: scale(1.01);
  transform-origin: bottom;
  transition-duration: 0.1s;
}

.gallery__img {
  object-fit: cover;
  object-position: center;
  opacity: 0.9;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  transition: all 0.2s ease-in-out;
}

@media only screen and (min-width:640px) {
  .gallery__item {
    flex-basis: 50%;
  }
}

@media only screen and (min-width:960px) {
  .gallery__list {
    margin: -10px;
  }

  .gallery__item {
    padding: 10px;
    flex-basis: calc(100%/3);
  }
}