.lightbox {
  width: 100vw;
  height: 100vh;
}

.lightbox-is-active .gallery {
  pointer-events: none;
}

.lightbox {
  display: block;
  position: fixed;
  top: 0; left: 0;
  z-index: -1;
  opacity: 0;
  background-color: rgba(0,0,0,0.75);
}

.lightbox-is-active .lightbox {
  z-index: initial;
  opacity: 1;
}

@keyframes grow {
  from {
    max-width: 50%;
    max-height: 50%;
  }
  
  to {
    max-width: 90%;
    max-height: 90%;
  }
}

.lightbox__layout {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.lightbox-is-active .lightbox__img {
  animation: grow 0.2s ease-out;
}

.lightbox__img {
  max-width: 90%;
  max-height: 90%;
  flex-shrink: 1;
}

.lightbox__close, .lightbox__next, .lightbox__prev {
  flex-shrink: 0;
  display: block;
  padding: 20px;
  width: 60px;
  height: 60px;
  transform-origin: center;
}

.lightbox__close {
  position: absolute;
  top: 0; right: 0;
}

.lightbox__next {
  transform: rotate(90deg);
}

.lightbox__prev {
  transform: rotate(-90deg);
}

@media only screen and (min-width:768px) {
  .lightbox__layout {
    flex-direction: row;
  }

  .lightbox__next {
    transform: rotate(0deg);
  }
  
  .lightbox__prev {
    transform: rotate(-180deg);
  }
}